name: Fate/Grand Order Login Manager NA

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: 00 19 * * *
    - cron: 26 22 * * *
    - cron: 52 01 * * *
    - cron: 18 05 * * *
    - cron: 44 08 * * *
    - cron: 10 12 * * *
    - cron: 36 15 * * *

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: America/Mexico_City
    permissions:
      actions: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Cache Python Dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install Dependencies
        run: pip install --upgrade --cache-dir ~/.cache/pip -r requirements.txt --user

      - name: Execute Script
        run: python3 main.py
        env:
          userIds: ${{ secrets.GAME_USERIDS }}
          authKeys: ${{ secrets.GAME_AUTHKEYS }}
          secretKeys: ${{ secrets.GAME_SECRETKEYS }}
          fateRegion: ${{ secrets.GAME_REGION }}
          DEVICE_INFO_SECRET: ${{ secrets.DEVICE_INFO_SECRET }}
          USER_AGENT_SECRET_2: ${{ secrets.USER_AGENT_SECRET_2 }}
          webhookDiscord: ${{ secrets.DISCORD_WEBHOOK }}

      - name: Install RAR
        run: sudo apt-get install rar -y

      - name: Archive login.json with Password
        run: rar a -hp${{ secrets.RAR_PASSWORD }} login.rar login.json

      - name: Upload login.rar Artifact
        uses: actions/upload-artifact@v4
        with:
          name: login-rar
          path: login.rar
      
      - name: Keep alive
        run: |
          python scripts/keepalive.py
          git push
  
